.content {
  max-width: 800px;
  margin: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  font-family: Georgia;
}

body {
    font-family: Georgia;
}

* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}
