.content {
  margin: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  font-family: Georgia;
  text-align: left;
  background-color: AliceBlue;
  min-width: fit-content;
  white-space: nowrap;
}

body {
    font-family: Georgia;
    background-color: Azure;
}

* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}
