<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Daily Weather</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    <div class="content">
        <h1>Todays Weather in {{ current_location }}</h1>
        <p>You are currently viewing weather for: <b>{{ current_location }}</b> ({{ todays_date }})</p>
        <p>Forecast: {{ summary }}</p>
        <table>
            <tr>
                <td>Maximum Temperature</td>
                <td>{{ max_temp }}°C</td>
            </tr>
            <tr>
                <td>Minimum Temperature</td>
                <td>{{ min_temp }}°C</td>
            </tr>
        </table>
        <p>View <a href="{{ url_for('five_day_weather') }}"><u>Five Day Weather</u></a></p>
        <p><b>Search for a new location:</b></p>
        <form action="{{ url_for('weather_app') }}" method="post" autocomplete="on">
            <div class="search-box">
                <label for="location">Location: </label><input type="text" id="location" name="location"><input type="submit" value="Search">
            </div>
        </form>
        <p>Return to: <a href="{{ url_for('weather_app') }}"><u>Home</u></a></p>
    </div>
    </body>
</html>
