<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Weather App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Weather App</h1>
        <p>You are currently viewing weather for: {{ current_location }}</p>
        <p>Forecast: {{ summary }}</p>
        <table>
            <tr>
                <td>Maximum Temperature</td>
                <td>{{ max_temp }}°C</td>
            </tr>
            <tr>
                <td>Minimum Temperature</td>
                <td>{{ min_temp }}°C</td>
            </tr>
        </table>
        <h3>Search for a new location</h3>
        <form action="{{ url_for('weather_app') }}" method="post" autocomplete="on">
            <label for="location">Location</label><br>
            <input type="text" id="location" name="location"><input type="submit" value="Search">
        </form>
        <p>The default location is London</p>
    </body>
</html>


